.left{
  margin-left: 300px;
  position: relative;
  top: 50px;
}
.right{
  background-color:palegreen;
}
.name{
  background-color:rosybrown;
  height: 140px;
  width: 1500px;
  text-size-adjust: 3px;
  text-align: center;
  text-size-adjust: 100px;
}

ul.no-bullets{
  list-style-type: none;}
.App {
      text-align: left;
      color: rgb(183, 9, 9);
      font-size: larger;
      font-style: oblique;
    }   